/* For Smaller Screens (Default) */
body {
  background-color: #131313;
  margin: 2% auto;
  text-align: left;
  width: 90%;
  padding: 2%;
  color: #131313;  
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 22px;
}

h2 {
        font-size: 17px;
    }

p {
  font-size: 15px;
}

/* unvisited link */
a:link {
  color: #131313;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #303030;
}

/* mouse over link */
a:hover {
  color: #ffffff;
  font-weight: bold;
}

/* selected link */
a:active {
  color: #ffffff;
  font-weight: bold;
}

div {
  background-color: #b35900;
  width: 90%;
  padding: 2%;
  margin: 2% auto;
}

/* For Larger Screens */
@media screen and (min-width: 1200px) and (min-height: 900px) {
    body {
        margin-top: 2%;
        margin-left: 15%;
        margin-bottom: 10%;
        width: 70%;
        padding: 1%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}

